---
import "../css/main.css";
import Button from "../components/Button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>Her er min header</header>
			<nav>
				<a href="/">Forside</a>
				<a href="about">Om os</a>
				<a href="contact">Kontakt os</a>
			</nav>
        <slot />
		<footer>Her er min footer
		</footer>
	</body>
</html>